/* Tablets Below 944 px */

@media (max-width: 59em) {
  body {
    padding: 0;
    margin: 0;
    overscroll-behavior-x: none;
    flex-direction: column !important;
  }
  .sidebar {
    order: 2;
    height: 25vh;
    flex-basis: 35rem;
  }
  #map {
    order: 1;
    height: 100vh;
    width: 100vw;
  }
}

/* PHONES BELOW 544 px */

@media (max-width: 34em) {
  .sidebar {
    order: 2;
    height: 25vh;
  }

  .form {
    display: block;
  }
}
